{% extends 'shop/base.html' %}

{% block shop_title %}Password updated | JosephlovesJohn{% endblock %}
{% block shop_heading %}Password updated{% endblock %}
{% block shop_subtitle %}Your password has been changed successfully.{% endblock %}

{% block shop_content %}
    <section class="shop-card shop-auth-card">
        <p class="shop-inline-note">You can now sign in with your new password.</p>
        <p class="shop-inline-note"><a href="{% url 'shop:login' %}">Return to login</a></p>
    </section>
{% endblock %}
