{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}JosephlovesJohn{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/top-nav.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main-middle.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bottom-nav.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}" />
    <noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    {% endblock %}
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}is-preload{% endblock %}">
{% block content %}{% endblock %}

<div id="bg"></div>

{% block pre_scripts %}{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
</body>
</html>
