<article id="contact">
    <h2 class="major">Contact</h2>
    {% if messages %}
        <ul class="contact-form-messages">
            {% for message in messages %}
                <li class="contact-form-message {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="{% url 'main_site:contact' %}">
        {% csrf_token %}
        <div class="fields">
            <div class="field half">
                <label for="name">Name</label>
                {{ contact_form.name }}
                {% if contact_form.name.errors %}
                    <p class="contact-form-error">{{ contact_form.name.errors|join:", " }}</p>
                {% endif %}
            </div>
            <div class="field half">
                <label for="email">Email</label>
                {{ contact_form.email }}
                {% if contact_form.email.errors %}
                    <p class="contact-form-error">{{ contact_form.email.errors|join:", " }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label for="message">Message</label>
                {{ contact_form.message }}
                {% if contact_form.message.errors %}
                    <p class="contact-form-error">{{ contact_form.message.errors|join:", " }}</p>
                {% endif %}
            </div>
        </div>
        <ul class="actions">
            <li><input type="submit" value="Send Message" class="primary music-accent-button" /></li>
            <li><input type="reset" value="Reset" /></li>
        </ul>
    </form>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</article>
