{% load asset_urls %}
<article id="intro">
    <h2 class="major">Intro</h2>
    <span class="image main intro-main-image"><img src="{{ 'images/gig_photos/Bristol_folk_house_31_03_2026_8_intro_crop_optimized.jpg'|asset_url }}" alt="Bristol Folk House gig photo 8, cropped for intro" /></span>
    <p>Hi! I am a Bristol-based multi-instrumentalist and composer whose work blends melancholy classical textures with the intimacy of contemporary folk.</p>
    <p>I also use projections and animations to immerse the audience in the music and deepen the emotional arc of each performance.</p>
    <p class="intro-signup-copy">If you want to be kept up to date on what I'm up to, sign up below.</p>
    {% include 'main_site/includes/components/intro/signup_form.html' %}
</article>
